:root {
  --primary: #d6556b;
  --text: #9f9f9f;

  --background: #1e1e1e;
  --elevation1: #333333;

  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 150);
  --duration: 30s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

@font-face {
  font-family: "RobotoSlab";
  src: url(assets/RobotoSlab.woff2) format("woff2"),
    url(assets/RobotoSlab.otf) format("opentype");
}

@font-face {
  font-family: "SulphurPointBold";
  src: url(assets/SulphurPointBold.woff2) format("woff2"),
    url(assets/SulphurPointBold.otf) format("opentype");
}

body {
  background: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height:100%;
  margin-top: -60px;
  gap: var(--gap);
}

main {
  flex: 3;
  width: 90%;
  display: flex;
  flex-direction: row;
}

.mainChild {
  flex: 1;
  margin: 32px;
}

.panel {
    height:100%;
}

.inset-panel {
  border-radius: 15px;
  box-shadow: 2px 2px var(--primary);
  background: var(--elevation1);
}

h1 {
  font-family: "SulphurPointBold";
  font-size: 5em;
  text-align: center;
  text-decoration: none;
  color: var(--text);
  margin: 8px;
}

h2 {
  font-family: "SulphurPointBold";
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  color: var(--text);
  margin: 8px;
}

p {
  font-family: "SulphurPointBold";
  font-size: 1em;
  text-decoration: none;
  color: var(--text);
  margin: 8px;
  text-align: center;
}

.commsText {
font-size: 1.5em;
font-family: "SulphurPointBold";
color: var(--text);
}

a {
  font-family: "SulphurPointBold";
  outline: 3px solid transparent;
  transition: outline 0.3s;
}

.hoverOutline:hover {
  outline: 3px solid var(--primary);
}

#socials {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.social {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 16px;
  text-decoration: none;
}

.social + .social {
  margin-top: 32px;
}

.social-icon {
  flex: 0.5;
  display: flex;
  margin-right: 16px;
}

.social-icon > img {
  width: 100%;
}

.social-name {
  display: flex;
  align-items: center;
  border-left: 1px solid var(--text);
  padding-left: 32px;
  flex: 5;
}

.social-name > p {
  font-family: "SulphurPointBold";
  color: var(--text);
  font-size: 2em;
  margin: 0px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 20%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 15px;
}

.marquee {
  display: flex;
  overflow: hidden;
  gap: var(--gap);
  flex-direction: column;
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-height: 100%;
  animation: scroll var(--duration) linear infinite;
  flex-direction: column;
}

.marquee--reverse .marquee__content {
  animation-direction: reverse;
}

.marquee img {
  width: calc(var(--size) / 2.2);
}

@keyframes scroll {
  from {
    transform: translateY(var(--scroll-start));
  }
  to {
    transform: translateY(var(--scroll-end));
  }
}

.author {
  font-family: "SulphurPointBold";
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.social + .author {
  margin-top: 60px;
  align-items: center;
  justify-content: center;
}

#modalImg {
  cursor: pointer;
  transition: 0.3s;
}

#modalImg:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  height: auto;
  width: auto;
  max-height: 75%;
  max-width: 95%;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  padding: 10px 0;
  height: 150px;
  font-family: "SulphurPointBold";
  color: var(--text);
  font-size: 2em;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: var(--text);
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  border-radius: 15px;
  background: var(--elevation1);
  box-shadow: 2px 2px var(--primary);
}

.close:hover,
.close:focus {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.button > picture > img {
  image-rendering: pixelated;
  width: 88px;
  height: 31px;
}

.button {
  margin: 4px 8px;
  opacity: 0.5;
  transition: 0.3s;
}

.button:hover {
  opacity: 1;
}

.modalPage {
position: fixed;
inset: 0;
background: rgb(0, 0, 0);
background: rgba(0, 0, 0, 0.9);
display: none;
align-items: center;
justify-content: center;
}

.modalPage:target {
display: flex
}

.modalPageContent {
position: relative;
background: var(--background);
padding: 1em 2em;
border-radius: 15px;
box-shadow: 2px 2px var(--primary);
max-height: 85%;
height: auto;
width: 85%;
animation-name: zoom;
animation-duration: 0.6s;
}

.closePage {
position: absolute;
top: -5px;
right: 10px;
color: var(--text);
font-size: 30px;
text-decoration: none;
transition: 0.3s;
}

.closePage:hover,
.closePage:focus {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.columnPage {
  float: left;
  background: var(--elevation1);
  width: 30%;
  border-radius: 15px;
  box-shadow: 2px 2px var(--primary);
  margin-right: 3%;
}

.rowPage:after {
  content: "";
  display: table;
  clear: both;
}

table, th, td {
  border: 1px solid var(--primary);
  text-align: center;
  font-family: "SulphurPointBold";
  color: var(--text);
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
}

th, td {
padding: 8px;
}
