:root {
  --primary: #ffffff;
  --text: #cdd6f4;

  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 150);
  --duration: 10s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}
@font-face {
  font-family: "RobotoSlab";
  src: url(assets/RobotoSlab.woff2) format("woff2"),
    url(assets/RobotoSlab.otf) format("opentype");
}
body {
  background: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0%;
  overflow: hidden;
  min-height: 100vh;
  gap: var(--gap);
}
main {
  flex: 3;
  width: 90%;
  display: flex;
  flex-direction: row;
}
.mainChild {
  flex: 1;
  margin: 32px;
}
.panel {
    height:850px;
}
.inset-panel {
  border-radius: 32px;
  background: #000000   ;
  box-shadow: inset 2px 2px 5px #ffffff, inset -25px -25px 50px #000000;
}
h1 {
  font-size: 5em;
  text-align: center;
  text-decoration: none;
  color: var(--text);
  margin: 8px;
}
h2 {
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  color: var(--text);
  margin: 8px;
}
p {
  font-size: 1em;
  text-decoration: none;
  color: var(--text);
  margin: 8px;
}
a {
  font-family: "RobotoSlab";
  outline: 3px solid transparent;
  transition: outline 0.3s;
}
.hoverOutline:hover {
  outline: 3px solid var(--primary);
}
#socials {
  display: flex;
  flex-direction: column;
  padding: 32px;
}
.social {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 16px;
  text-decoration: none;
}
.social + .social {
  margin-top: 32px;
}
.social-icon {
  flex: 0.5;
  display: flex;
  margin-right: 16px;
}
.social-icon > img {
  width: 100%;
}
.social-name {
  display: flex;
  align-items: center;
  border-left: 1px solid var(--text);
  padding-left: 32px;
  flex: 5;
}
.social-name > p {
  font-family: "RobotoSlab";
  color: var(--text);
  font-size: 2em;
  margin: 0px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  flex: 20%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.marquee {
  display: flex;
  overflow: hidden;
  gap: var(--gap);
  flex-direction: column;
}
.marquee__content {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-height: 100%;
  animation: scroll var(--duration) infinite;
  flex-direction: column;
}
.marquee--reverse .marquee__content {
  animation-direction: reverse;
  animation-delay: -3s;
}
.marquee img {
  width: calc(var(--size) / 2.2);
}
@keyframes scroll {
  from {
    transform: translateY(var(--scroll-start));
  }
  to {
    transform: translateY(var(--scroll-end));
  }
}
